<p>
    <label for="{{field_id}}">{{field_title}}</label> 
    <input type="radio"
        class="widefat"
        value="{{val}}"
        id="{{field_id}}" 
        name="{{field_name}}"
    />
</p>